<div class="container">
    <mat-card class="card">
      <mat-card-content>
        <form [formGroup]="automationForm" (ngSubmit)="submitForm()">
            <mat-form-field appearance="fill" class="m-1">
                <mat-label>Select Automation</mat-label>
                <mat-select formControlName="automation">
                  <mat-option *ngFor="let automation of automations" [value]="automation.name">{{ automation.name }}</mat-option>
                </mat-select>
                <mat-error *ngIf="automationForm.get('automation')?.touched && automationForm.get('automation')?.errors?.required">
                  Automation selection is required.
                </mat-error>
              </mat-form-field>
  
          <mat-form-field appearance="fill" class="m-1">
            <mat-label>Select Sensor</mat-label>
            <mat-select formControlName="sensor">
              <mat-option *ngFor="let sensor of sensors" [value]="sensor.name">{{ sensor.name }}</mat-option>
            </mat-select>
            <mat-error *ngIf="automationForm.get('sensor')?.touched && automationForm.get('sensor')?.errors?.required">
              Sensor selection is required.
            </mat-error>
          </mat-form-field>
  
          <mat-form-field appearance="fill" class="m-1">
            <mat-label>Value</mat-label>
            <input matInput formControlName="value">
            <mat-error *ngIf="automationForm.get('value')?.touched && automationForm.get('value')?.errors?.required">
              Value is required.
            </mat-error>
          </mat-form-field>
  
          <!-- Add fields for trigger condition and actions -->
  
          <div class="button-container">
            <button mat-raised-button type="submit">Create Automation</button>
          </div>
        </form>
      </mat-card-content>
    </mat-card>
  </div>
  