.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .card {
    max-width: 700px;
    height: 50%;
    width: 100%;
  }
  
  .button-container {
    display: flex;
    justify-content: flex-end;
    margin-top: 16px;
  }
  